In [3]:
import os
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
os.getcwd()

'E:\\Others\\Coding\\Python\\Jupyter\\Scripts\\Med_insurance_costs'

In [5]:
os.chdir(r"E:\Others\Coding\Codecademy\Portfolio\portfolio_projects\Medical_insurance_cost\python-portfolio-project-starter-files")

In [6]:
os.getcwd()

'E:\\Others\\Coding\\Codecademy\\Portfolio\\portfolio_projects\\Medical_insurance_cost\\python-portfolio-project-starter-files'

In [7]:
df = pd.read_csv('insurance.csv')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [9]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [10]:
def avg_by_gender(df):
    avg_charges = df.groupby('sex')['charges'].mean()
    male = avg_charges.get('male')
    female = avg_charges.get('female')
    print(f"The average male gets charged {male} for insurance.")
    print(f"The avrage female gets charged {female} for insurance.")

In [11]:
avg_by_gender(df)

The average male gets charged 13956.751177721893 for insurance.
The avrage female gets charged 12569.578843835347 for insurance.

In [12]:
def avg_by_smoker(df):
    avg_by_smoker = df.groupby('smoker')['charges'].mean()
    price_difference = avg_by_smoker.get('yes') / avg_by_smoker.get('no')
    print(f'So on average smokers pay {price_difference} times more insurance than non smokers.')

In [13]:
avg_by_smoker(df)

So on average smokers pay 3.800001458298319 times more insurance than non smokers.

In [14]:
#so dont smoke for cheap insurance guys.

In [15]:
def age_info(df):
    avg_age = sum(df['age']) / len(df)
    max_age = max(df['age'])
    min_age = min(df['age']) 
    return f'The average age is {avg_age} with a maximum age of {max_age} and a minimum age of {min_age}.'

In [16]:
age_info(df)

'The average age is 39.20702541106129 with a maximum age of 64 and a minimum age of 18.'

In [27]:
def children_info(df):
    avg_kid = sum(df['children']) / len(df)
    return f'The average person has {avg_kid} children'
children_info(df)

'The average person has 1.0949177877429 children'

In [28]:
def region_info(df):
    region = df.groupby('region')['age'].count()
    max_region = region.idxmax()
    return region, f"The most populous region is {max_region}"
region_info(df)

(region
 northeast    324
 northwest    325
 southeast    364
 southwest    325
 Name: age, dtype: int64,
 'The most populous region is southeast')

In [63]:
def avg_age_kids(df):
    with_kids = df[df['children'] >= 1]
    return with_kids['age'].sum() / with_kids['age'].count()

In [64]:
print(avg_age_kids(df))

39.78010471204188

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [69]:
#Variables
age = df['age']
sex = df['sex']
bmi = df['bmi']
children = df['children']
smoker = df['smoker']
region = df['region']
charges = df['charges']